<article class="blog-post">
    <h3 class="blog-post-title mb-1">TRACK Rotational Program at GM</h3>
    <p class="blog-post-meta"> August 2020 - August 2021, Rotations 1 and 2  </p>

   <p>
      I joined General Motors after graduating in 2020, I started work as a Controls Engineer in the TRACK Program. I helped develop the architecture for an app to calculate the maximum fuel economy for a hybrid vehicles.
       After a 6 month rotation, I joined the Google Assistant Services team, as a Software Integration Engineer.
        This role allowed me to begin learning about software development, testing, and defect analysis where I worked crossfunctionally in Agile teams to implement new features, and resolve defects. 
        I also began taking online courses in Java at Udemy, where I recieved a certifaction of course completion.
   </p>
   <hr>
   <h3 class="blog-post-title mb-1">TRACK - Software Engineering</h3>
    <p class="blog-post-meta"> August 2021 - August 2022, Rotations 3 and 4 </p>
   <p> 
       I began my career as a Software Engineer in my next rotation for the Core Apps team, where I worked on the Terms and Conditions Vehicle Application. 
       In this rotation I began implementing my understanding of Java and Kotlin to resolve defects, and implement UI/UX changes with Android Studio. I learned some best practices, and about the andriod life cycle.
       It was at this time, I began developing my own Android apps to gain some additonal understanding of the envirionment.  
       In my last rotation I expanded upon my Software Engineering knowledge on the Alexa Team. In this rotation I worked on the development of the Alexa App for GM Vehicles, I worked on defects,
        features, and crossfunctionally with the platform to implement the stubs onto the system for release. 
    </p>
    <hr>
    <h3 class="blog-post-title mb-1">Android Software Engineer, Alexa</h3>
    <p class="blog-post-meta">August 2022 - Present </p>
   <p> 
       After graduating from the track program, I was onboarded onto the Alexa Team, where I am now working permenantly as a Software Engineer in SAFe-Agile framework. I have implemented features, refactored, and resolved high-priority defects, required for launch.
       I still work crossfunctionally with other teams and the platform to define requirements and assist in launching of different vehicle programs.
       I have now worked with notable libraries such as RxJava, Retrofit and have some experience working with RRO's. 
       I continue to take online courses to gain more experience in software and app development. 
    </p>
    <hr>
   
    <h3>Software Skills and Languages</h3>
    <ul>
      <li><strong>Java</strong></li>
      <li><strong>Kotlin</strong></li>
      <li><strong>Python</strong></li>
      <li><strong>JavaScript</strong></li>
      <li><strong>Node js</strong></li>
      <li><strong>React</strong></li>
      <li><strong>HTML</strong></li>
      <li><strong>CSS</strong> </li>
      <li><strong>Matlab</strong></li>
      <li><strong>C#</strong></li>
    </ul>
   
    <dl>
      <dt>Java and Kotlin Experience </dt>
      <dd>
        Android App development at General Motors. Worked on Terms and Conditions and Alexa Vehicle Apps. Additionally made personal apps on the google play store, and worked through different Udemy courses for 
        both app development and Java experience 
      </dd>

      <dt>Python </dt>
      <dd> 
          College Credit for a python software development course. Additional projects include a yahoo finance api desktop application, for monitoring and exporting changes in fortune 500 apps over time. 
      </dd>

      <dt>HTML/CSS/JavaScript/Node js/React </dt>
      <dd>Used in personal projects, and web development courses. Currently working through over 100 hours of coursework in Udemy. See projects page for more information and examples. </dd>

      <dt>Matlab</dt>
      <dd>Used to create labratory scale app for monitoring and controlling gas pressure in anerobic digestion systems. Originally written in C++ with Arduino IDE. Additionally used to create an app to calcualte 
        maximum fuel economy for hybrid motors.
      </dd>

      <dt>C#</dt>
      <dd>Primarily used in hobby game development in Unity. 
      </dd>

    </dl>
  </article>