<footer class="blog-footer">
    <p>Thanks for visiting!
    </p>
    <p>Check out my apps on the Google Play store!</p>

    <button type="button" class="btn btn-outline-dark btn-lg download-button">
        <i class="fa-brands fa-google-play"></i>
        
      </button>    
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>