<%- include("partials/header") %>

<div class="container">

        <!-- middleMargin -->
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        
      </h3>

      <%- include("partials/blog") -%>

    

      

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Back to Top</a>
      </nav>

    </div>



<%- include("partials/footer") %>